<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
      
  <div class="row text-center animated fadeIn">
      <div *ngIf="!usersExist" class="col">
        <i class="fa fa-sync fa-spin fa-5x"></i>
      </div>
    </div>


  <div *ngIf="usersExist" class="row">
      <ion-card *ngFor="let user of users" [id]="user.id" class=" relative" 
      [ngClass]="{'col-5': true,
                  'relative': true,
                  'borde-azul': user.color === 'borde-azul',
                  'borde-rojo': user.color === 'borde-rojo',
                  'borde-amarillo': user.color === 'borde-amarillo',
                  'borde-negro': user.color === 'borde-negro',
                  'borde-verde': user.color === 'borde-verde'}" 
                  (click)="llamar(user.celular)">
          <img [src]="user.foto" alt="">
        </ion-card>


  </div>
</ion-content>
