page-home {
    .relative{
        border: 20px solid;
    
    }

    .borde-azul{
        border-color: blue;
    }
    .borde-rojo{
        border-color: red;
    }
    .borde-amarillo{
        border-color: yellow;
    }
    .borde-negro{
        border-color: black;
    }
    .borde-verde{
        border-color: green;
    }
}
